<header>
    <div class="container">
        <div class="header">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="https://vk.com/feed" aria-label="Home" class="home">
                        <div class="home-logo">
                            <img src="assets/images/icons/VK_Logo.png" alt="VK">
                        </div>
                    </a>
                </li>
                <li class="header-nav__item">
                    <div class="search">
                        <input type="text" class="search__input">
                    </div>
                </li>
                <li class="header-nav__item">
                    <a class="notify__btn">
                        <img src="assets/images/icons/notification.svg" alt="">
                    </a>
                </li>
                <li class="header-nav__item header-nav__item--player">
                    <div class="audio__player">
                        <button class="audio__player-btn ">
                            <img src="assets/images/icons/previous.svg" alt="prev">
                        </button>
                        <button class="audio__player-btn">
                            <img src="assets/images/icons/play.svg" alt="play">
                        </button>
                        <button class="audio__player-btn">
                            <img src="assets/images/icons/next.svg" alt="next">
                        </button>
                        <div class="audio__player-song">
                        </div>
                    </div>
                </li>
                <li class="header-nav__item header-nav__item--profile">
                    <a class="header__profile">
                        <div class="header__profile-name">
                            Evgeni
                        </div>
                        <img src="assets/images/avatar.jpg" alt="Evgeni Radkevich" class="header__profile-img">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>